.digit-game-container
  display: inline-flex
  .digit-game
    /* width: 40% */
    margin: auto
    min-width: 550px
    width: 550px
    padding-top: 40px
    height: 80vh
    // .result-display-group
    //   margin-top: 12px
    //
    .display-field
      text-align: right
      min-width: 250px
      padding: 0 40px
      color: lightgreen
      background-color: #6b6b6b

  .digit-game-input-group
    .digit-game-digit-group
      display: inline-flex
      margin: 20px
      .digit-display
        margin: 12px
    .btn-input
      margin-left: 12px
      margin-right: 12px

  .digit-game-history-section,.digit-game-info
    /* width: 20% */
    width: 400px
    min-width: 200px
    max-width: 400px
    .group-section
      margin-bottom: 0px!important

  .digit-game-info
      margin: 24px 0
      text-align: left
      font-size: 0.8em

  .help-btn
    position: absolute
    right: 0px
    top: 0px

.group-section
  border: 1px solid #ccc!important
  padding: 16px
  border-radius: 16px
  margin:  24px

.digit-game-menu
  margin: auto
  min-width: 550px
  width: 550px
  padding-top: 40px
  height: 80vh
  .btn-menu
    width: 100%
    margin: 12px 0

.digit-game-setting
  margin: auto
  min-width: 550px
  width: 550px
  padding-top: 40px
  min-height: 80vh
  .game-setting-input
    text-align: initial
  .btn-control-btn
    margin: 0 12px
  .digit-setting-error
    white-space: nowrap

.result-dot
  margin: 0 1em
  .correct-dot
    color: green
  .close-dot
    color: yellow
  .wrong-dot
    color: grey
