.digit-game-container{
  display: inline-flex;
}
.digit-game{
  /* width: 40%; */
  margin: auto;
  min-width: 550px;
  width: 550px;
  padding-top: 40px;
  height: 80vh;
}
.digit-game-input-group{
  display: inline-flex;
  margin: 20px;
}
.digit-display{
  margin: 12px;
}
.group-section{
  border: 1px solid #ccc!important;
  padding: 16px;
  border-radius: 16px;
  margin:  24px;
}
.display-field{
  text-align: right;
  min-width: 250px;
  padding: 0 40px;
  color: lightgreen;
  background-color: #6b6b6b;
}
.result-display-group{
  margin-top: 12px;
}
.result-dot{
  margin: 0 1em;
}
.green-dot{
  color:green;
}
.yellow-dot{
  color:yellow;
}
.grey-dot{
  color:grey;
}
.btn-input{
  margin-left: 12px;
  margin-right: 12px;
}
.digit-game-history-section,.digit-game-info{
  /* width: 20%; */
  width: 400px;
  min-width: 200px;
  max-width: 400px;
}
.digit-game-history-section .group-section{
  margin-bottom: 0px!important;
}
.digit-game-info{
    margin:24px 0;
    text-align: left;
    font-size: 0.8em;
}
.help-btn{
  position: absolute;
  right: -2px;
  top: -2px;
}
